function Screen.init 2
push constant 0
not
pop static 1
push constant 1
neg
pop static 2
push constant 16384
pop static 3
push constant 16
call Array.new 1
pop static 0
push constant 16
call Array.new 1
pop static 4
push constant 1
pop local 0
label WHILE_EXP0
push local 1
push constant 16
lt
not
if-goto WHILE_END0
push local 1
push static 0
add
push local 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 1
push static 4
add
push local 0
push constant 1
sub
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push local 0
add
pop local 0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Screen.clearScreen 0
push constant 0
return
function Screen.setColor 0
push argument 0
pop static 1
push static 1
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 1
neg
pop static 2
goto IF_END0
label IF_FALSE0
push constant 0
pop static 2
label IF_END0
push constant 0
return
function Screen.drawPixel 3
push argument 1
push constant 32
call Math.multiply 2
push argument 0
push constant 16
call Math.divide 2
add
pop local 2
push argument 0
push constant 15
and
pop local 0
push static 1
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 2
push static 3
add
push local 2
push static 3
add
pop pointer 1
push that 0
push local 0
push static 0
add
pop pointer 1
push that 0
or
pop temp 0
pop pointer 1
push temp 0
pop that 0
goto IF_END0
label IF_FALSE0
push local 2
push static 3
add
push local 2
push static 3
add
pop pointer 1
push that 0
push local 0
push static 0
add
pop pointer 1
push that 0
not
and
pop temp 0
pop pointer 1
push temp 0
pop that 0
label IF_END0
push constant 0
return
function Screen.drawLine 8
push constant 0
pop local 0
push constant 0
pop local 1
push constant 0
pop local 2
push argument 2
push argument 0
sub
pop local 3
push argument 3
push argument 1
sub
pop local 4
push local 3
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 0
push argument 1
push argument 3
call Screen.drawVertical 3
pop temp 0
push constant 0
return
label IF_FALSE0
push local 4
push constant 0
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push argument 1
push argument 0
push argument 2
call Screen.drawHorizontal 3
pop temp 0
push constant 0
return
label IF_FALSE1
push local 3
push constant 0
lt
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 1
neg
pop local 5
goto IF_END2
label IF_FALSE2
push constant 1
pop local 5
label IF_END2
push local 4
push constant 0
lt
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 1
neg
pop local 6
goto IF_END3
label IF_FALSE3
push constant 1
pop local 6
label IF_END3
label WHILE_EXP0
push local 0
call Math.abs 1
push local 3
call Math.abs 1
gt
not
push local 1
call Math.abs 1
push local 4
call Math.abs 1
gt
not
and
not
if-goto WHILE_END0
push argument 0
push local 0
add
push argument 1
push local 1
add
call Screen.drawPixel 2
pop temp 0
push local 2
push constant 0
lt
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push local 0
push local 5
add
pop local 0
push local 2
push local 4
call Math.abs 1
add
pop local 2
goto IF_END4
label IF_FALSE4
push local 1
push local 6
add
pop local 1
push local 2
push local 3
call Math.abs 1
sub
pop local 2
label IF_END4
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Screen.drawRectangle 5
push argument 1
push constant 32
call Math.multiply 2
push argument 0
push constant 16
call Math.divide 2
add
pop local 3
push argument 0
push constant 15
and
pop local 4
push constant 0
pop local 1
push argument 3
push argument 1
sub
pop local 0
push argument 2
push argument 0
sub
pop local 2
label WHILE_EXP0
push local 2
push constant 0
lt
not
not
if-goto WHILE_END0
push argument 1
push argument 3
push argument 0
push local 1
add
push local 0
push local 3
push local 4
call Screen.drawVerticalOptimized 6
pop temp 0
push local 1
push constant 1
add
pop local 1
push local 2
push constant 1
sub
pop local 2
push local 4
push constant 1
add
pop local 4
push local 4
push constant 16
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 3
push constant 1
add
pop local 3
push constant 0
pop local 4
label IF_FALSE0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Screen.drawRectangle1 9
push constant 0
pop local 1
push argument 3
push argument 1
sub
pop local 0
push argument 2
push argument 0
sub
pop local 2
push argument 0
push constant 15
and
pop local 5
push argument 1
push constant 32
call Math.multiply 2
push argument 0
push constant 16
call Math.divide 2
add
pop local 7
push argument 2
push constant 15
and
pop local 6
push argument 1
push constant 32
call Math.multiply 2
push argument 2
push constant 16
call Math.divide 2
add
pop local 8
label WHILE_EXP0
push local 1
push local 0
gt
not
not
if-goto WHILE_END0
push argument 0
push argument 2
push argument 1
push local 1
add
push local 2
push local 5
push local 6
push local 7
push local 8
call Screen.drawHorizontalOptimized 8
pop temp 0
push local 1
push constant 1
add
pop local 1
push local 7
push constant 32
add
pop local 7
push local 8
push constant 32
add
pop local 8
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Screen.drawCircle 2
push argument 2
neg
pop local 0
label WHILE_EXP0
push local 0
push argument 2
gt
not
not
if-goto WHILE_END0
push argument 2
push argument 2
call Math.multiply 2
push local 0
push local 0
call Math.multiply 2
sub
call Math.sqrt 1
pop local 1
push argument 1
push local 0
add
push argument 0
push local 1
sub
push argument 0
push local 1
add
call Screen.drawHorizontal 3
pop temp 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Screen.drawVertical 3
push constant 0
pop local 2
push argument 2
push argument 1
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 1
pop local 0
push argument 2
pop argument 1
push local 0
pop argument 2
label IF_FALSE0
push argument 2
push argument 1
sub
pop local 1
label WHILE_EXP0
push local 2
push local 1
gt
not
not
if-goto WHILE_END0
push argument 0
push argument 1
push local 2
add
call Screen.drawPixel 2
pop temp 0
push local 2
push constant 1
add
pop local 2
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Screen.drawHorizontal 3
push constant 0
pop local 2
push argument 2
push argument 1
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 1
pop local 0
push argument 2
pop argument 1
push local 0
pop argument 2
label IF_FALSE0
push argument 2
push argument 1
sub
pop local 1
label WHILE_EXP0
push local 2
push local 1
gt
not
not
if-goto WHILE_END0
push argument 1
push local 2
add
push argument 0
call Screen.drawPixel 2
pop temp 0
push local 2
push constant 1
add
pop local 2
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Screen.drawHorizontalOptimized 0
push argument 6
push argument 7
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 2
push argument 0
push argument 1
call Screen.drawHorizontal 3
pop temp 0
push constant 0
return
label IF_FALSE0
push argument 4
push constant 0
gt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push static 1
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push argument 6
push static 3
add
push argument 4
push static 0
add
pop pointer 1
push that 0
push constant 1
sub
not
push argument 6
push static 3
add
pop pointer 1
push that 0
or
pop temp 0
pop pointer 1
push temp 0
pop that 0
goto IF_END2
label IF_FALSE2
push argument 6
push static 3
add
push argument 4
push static 0
add
pop pointer 1
push that 0
push constant 1
sub
push argument 6
push static 3
add
pop pointer 1
push that 0
and
pop temp 0
pop pointer 1
push temp 0
pop that 0
label IF_END2
push argument 6
push constant 1
add
pop argument 6
label IF_FALSE1
push argument 5
push constant 15
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push argument 7
push constant 1
add
pop argument 7
label IF_FALSE3
label WHILE_EXP0
push argument 6
push argument 7
lt
not
if-goto WHILE_END0
push argument 6
push static 3
add
push static 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push argument 6
push constant 1
add
pop argument 6
goto WHILE_EXP0
label WHILE_END0
push argument 5
push constant 15
lt
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push static 1
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push argument 6
push static 3
add
push argument 5
push constant 1
add
push static 0
add
pop pointer 1
push that 0
push constant 1
sub
push argument 6
push static 3
add
pop pointer 1
push that 0
or
pop temp 0
pop pointer 1
push temp 0
pop that 0
goto IF_END5
label IF_FALSE5
push argument 6
push static 3
add
push argument 5
push constant 1
add
push static 0
add
pop pointer 1
push that 0
push constant 1
sub
not
push argument 6
push static 3
add
pop pointer 1
push that 0
and
pop temp 0
pop pointer 1
push temp 0
pop that 0
label IF_END5
label IF_FALSE4
push constant 0
return
function Screen.drawVerticalOptimized 4
push argument 0
pop local 3
label WHILE_EXP0
push argument 3
push constant 0
lt
not
not
if-goto WHILE_END0
push static 1
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 4
push static 3
add
push argument 4
push static 3
add
pop pointer 1
push that 0
push argument 5
push static 0
add
pop pointer 1
push that 0
or
pop temp 0
pop pointer 1
push temp 0
pop that 0
goto IF_END0
label IF_FALSE0
push argument 4
push static 3
add
push argument 4
push static 3
add
pop pointer 1
push that 0
push argument 5
push static 0
add
pop pointer 1
push that 0
not
and
pop temp 0
pop pointer 1
push temp 0
pop that 0
label IF_END0
push argument 3
push constant 1
sub
pop argument 3
push argument 4
push constant 32
add
pop argument 4
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
